.container {
  max-width: 1092px;
  min-height: 400px;
  background-color: red;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  width: 30%;
  height: 200px;
  background-color: greenyellow;
  margin-bottom: 10px;
}

@media (max-width: 786px) {
  .col {
    width: 45%;
  }
}

@media (max-width: 500px) {
  .col {
    width: 100%;
  }
}
