body {
  color: white;
}
.container {
  max-width: 1092px;
  min-height: 400px;
  /* background-color: red; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  width: 30%;
  min-height: 100px;
  background-color: rgb(251 171 19);
  margin-bottom: 40px;
}
.col p {
  padding: 10px 20px;
  text-align: center;
}
.col p::first-line {
  font-weight: bold;
}
.col img {
  width: 100%;
}
@media (max-width: 786px) {
  .col {
    width: 45%;
  }

  .hidep {
    display: none;
  }
}

@media (max-width: 500px) {
  .col {
    width: 100%;
  }

  .hidem {
    display: none;
  }
}
